.inputContainerr {
  display: flex;
  max-width: 100%;
}

.locationIcon {
  opacity: 0.6;
}

.locationSelect {
  width: 90px;
  background-color: transparent;
  font-size: 14px;
  border: none;
  color: #fff;
}

.locationSelect option {
  color: #000;
}

.locationDrop {
  border: none;
  display: flex;
  align-items: center;
  padding: 13px 16px 13px 13px;
  background-color: rgba(18, 18, 18, 0.48);
  border-radius: 4px;
  /* background: transparent; */
}

.heroInput {
  display: flex;
  align-items: center;
  background-color: rgba(18, 18, 18, 0.2);
  border: none;
  padding: 16px 250px 15px 26px;
  backdrop-filter: blur(4px);
  color: white;
}

.heroInput::placeholder {
  padding: 16px 250px 15px 0px;
  color: #c8c8c8;
}

.locationSelect .item {
  color: white;
  background-color: wheat;
}

.locationSelect a:hover,
.locationSelect a:focus {
  outline: none;
  color: white;
}

@media (max-width: 992px) {
  .heroInput {
    padding: 16px 180px 15px 26px;
  }
}

@media (max-width: 768px) {
  .heroInput {
    padding: 16px 60px 15px 26px;
  }
}

@media (max-width: 500px) {
  .inputContainerr {
    display: flex;
    max-width: 100%;
    width: 390px;
  }
  .locationDrop {
    margin-bottom: 10px;
  }

  .locationSelect {
    width: 100%;
  }

  .heroInput {
    padding: 16px 20px 15px 26px;
    margin-bottom: 10px;
  }
}
