.ListingHeading {
  text-align: center;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}

.ListingPara {
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  width: 1280px;
  padding-left: 20px;
  /* padding-right: 8px; */
}

.PackageListing {
  padding: 25px 50px 72px;
}

.ListingWrapping {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 15px;
}