.card {
  width: 305px;
  height: 426px;
  border-radius: 10px;
  background: #282828;
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.12);
  position: relative;
}

.cardContent {
  position: relative;
}

.mainImage {
  position: absolute;
}

.heartLogo {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1;
}

.btn {
  position: absolute;
  top: 15px;
  left: 20px;
  z-index: 1;
}

.textDiv {
  top: 240px;
  position: absolute;
  padding: 15px 12px 20px;
}

.heading {
  font-size: 18px;
  font-weight: 700;
}

.paragraph {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
}

.amountDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.locationDiv {
  display: flex;
  align-items: center;
  gap: 9px;
}

.locationSpan {
  text-align: center;
  font-size: 16px;
}

.dollerDiv {
  color: #FFAE1B;
  font-size: 16px;
  font-weight: 700;
}

.lowerDiv {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.CardsPictures {
  opacity: .6;
}

.icon {
  margin-right: 5px;
}

.ContactCard {
  position: relative;
  display: flex;
  align-items: center;
}

.contentCard {
  margin-top: 90px;
  position: absolute;
  z-index: 1;
  padding: 20px;
}

.ContactInline {
  margin-top: 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 370px;
  max-width: 100%;
  /* width: 100%; */
}

.placeContact {
  display: flex;
  align-items: center;
}

.titleCard {
  font-size: 32px;
  font-weight: 600s;
}

.contactPlace {
  font-size: 18px;
  font-weight: 400;
}

.listings {
  font-size: 16px;
  font-weight: 400;
}