.heroContainer {
  height: auto;
}

.heroheading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
}

.herosubHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
}

.heroPara {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  width: 840px;
  max-width: 100%;
}

.BackgroundImg {
  width: 100%;
  height: 420px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.6;
}

.inputContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

@media (max-width: 992px) {
  .heroheading {
    font-size: 35px;
  }

  .herosubHeading {
    font-size: 35px;
  }

  .heroPara {
    font-size: 14px;
    width: 750px;
  }

  .heroInput {
    padding: 16px 180px 15px 26px;
  }
}

@media (max-width: 768px) {
  .heroheading {
    font-size: 28px;
  }

  .herosubHeading {
    font-size: 28px;
  }

  .heroPara {
    font-size: 12px;
    width: 540px;
  }

  .heroInput {
    padding: 16px 100px 15px 26px;
  }
}

@media (max-width: 500px) {
  .heroheading {
    font-size: 23px;
  }

  .herosubHeading {
    font-size: 23px;
  }

  .heroPara {
    width: 390px;
    max-width: 100%;
    font-size: 8px;
    line-height: 15px;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
  }

  .locationDrop {
    margin-bottom: 10px;
  }

  .locationSelect {
    width: 100%;
  }

  .heroInput {
    margin-bottom: 10px;
  }
}
