.heroContainer {
  height: auto;
}


.heroheading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
}

.herosubHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
}

.heroPara {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}


.BackgroundImg {
  width: 100%;
  height: 420px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.6;
}


.inputContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

.locationIcon {
  opacity: .6;
}

.locationSelect {
  width: 90px;
  background-color: transparent;
  font-size: 14px;
  border: none;
  color: #fff;
}

.locationSelect option {
  color: #000;
}

.locationDrop {
  border: none;
  display: flex;
  align-items: center;
  padding: 13px 16px 13px 13px;
  background-color: rgba(18, 18, 18, 0.48);
  border-radius: 4px;
  /* background: transparent; */
}

.heroInput {
  display: flex;
  align-items: center;
  background-color: rgba(18, 18, 18, 0.20);
  border: none;
  padding: 16px 250px 15px 26px;
  backdrop-filter: blur(4px);
}

.heroInput::placeholder {
  padding: 16px 250px 15px 0px;
  color: #C8C8C8;
}

/* 
.customDropdown {
  position: relative;
} */

.locationSelect .item {
  color: white;
  background-color: wheat;
  /* Set white text color for dropdown items */
}

/* Additional styles for better visibility */
.locationSelect a:hover,
.locationSelect a:focus {
  outline: none;
  color: white;
}

@media(max-width: 992px) {
  .heroheading {
    font-size: 35px;
  }

  .herosubHeading {
    font-size: 35px;
  }

  .heroPara {
    font-size: 14px;
  }

  .heroInput {
    padding: 16px 180px 15px 26px;
  }

}

@media(max-width: 768px) {
  .heroheading {
    font-size: 28px;
  }

  .herosubHeading {
    font-size: 28px;
  }

  .heroPara {
    font-size: 10px;
  }

  .heroInput {
    padding: 16px 100px 15px 26px;
  }
}

@media(max-width: 500px) {
  .heroheading {
    font-size: 23px;
  }

  .herosubHeading {
    font-size: 23px;
  }

  .heroPara {
    font-size: 8px;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .locationDrop {
    margin-bottom: 10px;
  }

  .locationSelect {
    width: 100%;
  }

  .heroInput {
    margin-bottom: 10px;
  }
}