/* styling navbar button */
.button {
  background-color: #FFAE1B;
  font-size: 14px;
  font-weight: 600;
  color: #121212;
  border-radius: 4px;
  padding: 12px 10px;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;

}

@media(max-width: 768px) {
  .button {
    padding: 10px 5px;
    font-size: 12px;
    width: 120px;
  }
}

@media(max-width: 500px) {
  .button {
    padding: 7px 0;
    font-size: 12px;
    width: 100%;
  }
}

.btnIcon {
  width: 15px;
}