.button {
  background-color: #ffae1b;
  font-size: 14px;
  font-weight: 600;
  color: #121212;
  border-radius: 4px;
  padding: 10px;
  max-width: 100%;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .button {
    /* padding: 10px 5px; */
    font-size: 12px;
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .button {
    padding: 9px;
    font-size: 12px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
  }
}

.btnIcon {
  width: 15px;
}
