.parent {
  position: relative;
}

.BgLeft {
  position: absolute;
  /* bottom: 20px; */
  /* top: 230px; */
  z-index: -1;
}

.Bgright {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: -1;
}