@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');


body {
  font-family: Nunito;
  font-family: 'Nunito', sans-serif;

}

/*.mainHome {
  /* position: relative; 
}*/

/* 
.mainHome::before {
  content: "";
  display: block; 
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
} */