* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #fff;
}

button,
a {
  cursor: pointer;
}

ul li {
  list-style: none;
}

li {
  padding-bottom: 30px;
  font-size: 16px;
  color: #FFFFFF;
}


@media (max-width: 500px) {
  ul {
    display: flex;
    flex-direction: column;
  }
}