* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito;
}

body {
  background-color: black;
  color: #fff;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px 25px;
  color: white;
}

button,
a {
  cursor: pointer;
}

ul li {
  list-style: none;
}

li {
  padding-bottom: 30px;
  font-size: 16px;
  color: #ffffff;
}

@media (max-width: 500px) {
  ul {
    display: flex;
    flex-direction: column;
  }
}
