.HomeCard {
  height: 100%;
  margin-top: 72px;
  margin-bottom: 30px;
}

.HomeCardContent {
  padding: 25px 80px 72px;
}

.cardWrapping {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 24px;
  display: flex;
  gap: 20px;
}


@media (max-width:1440px) {

  .HomeCardContent {
    /* padding: 25px 60px 72px; */
  }

  .cardWrapping {
    padding-left: 80px;
    display: grid;
    gap: 20px;
  }
}

@media (max-width:1200px) {

  .HomeCardContent {
    padding: 25px 10px 72px;
  }

  .cardWrapping {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

@media (max-width:992px) {

  .HomeCardContent {
    padding: 50px 85px 71px;
  }

  .cardWrapping {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 0px;
  }
}

@media (max-width:768px) {
  .HomeCardContent {
    padding: 50px 50px 75px;
  }
}

@media (max-width:500px) {

  .HomeCardContent {
    padding: 50px 60px 15px;
  }

  .cardWrapping {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px 0px;
    /* padding: 25px 12px 75px; */
    padding: 0px;
  }
}